<ul>
  <li>
    <a class="u-linkClean" href="#0">unvisited link</a>
  </li>
  <li>
    <a class="u-linkClean" href="/components/detail/base">visited link</a>
  </li>
  <li>
    <a class="u-linkClean is-hovered" href="/components/detail/base">hovered link</a>
  </li>
  <li>
    <a class="u-linkClean is-active" href="/components/detail/base">active link</a>
  </li>
</ul>
<ul>
  <li>
    <a class="u-linkComplex" href="#0">unvisited link</a>
  </li>
  <li>
    <a class="u-linkComplex" href="/components/detail/base">visited link</a>
  </li>
  <li>
    <a class="u-linkComplex is-hovered" href="/components/detail/base">hovered link</a>
  </li>
  <li>
    <a class="u-linkComplex is-active" href="/components/detail/base">active link</a>
  </li>
</ul>
<ul>
  <li>
    <a class="u-linkBlock" href="#0">unvisited link</a>
  </li>
  <li>
    <a class="u-linkBlock" href="/components/detail/base">visited link</a>
  </li>
  <li>
    <a class="u-linkBlock is-hovered" href="/components/detail/base">hovered link</a>
  </li>
  <li>
    <a class="u-linkBlock is-active" href="/components/detail/base">active link</a>
  </li>
</ul>
