<a href="http://suitcss.github.io/base/test/">http://suitcss.github.io/base/test/</a>

<ul>
  <li>
    <a href="#0">unvisited link</a>
  </li>
  <li>
    <a href="/components/detail/base">visited link</a>
  </li>
  <li>
    <a class="is-hovered" href="/components/detail/base">hovered link</a>
  </li>
  <li>
    <a class="is-active" href="/components/detail/base">active link</a>
  </li>
</ul>
